.timeline-wrapper {
  width: 60%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media screen and (max-width: 1400px) {
  .timeline-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1000px) {
  .timeline-wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .timeline-wrapper {
    width: 98%;
    margin: 0 auto;
  }
}

.timeline-wrapper form {
  width: 100%;
  background: #e9f1f6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 80px;
}

.timeline-wrapper form textarea {
  border: 3px solid #d8e5ed;
  border-radius: 5px;
  font-size: 14px;
  padding: 2px;
  width: 90%;
  resize: none;
  height: 50px;
}

.list {
  padding-inline-start: 0px;

  width: 100%;
  position: relative;
  color: #1c2022;
  overflow-y: scroll;
  transform: rotate(180deg);
}
.list::-webkit-scrollbar {
  width: 0px;
}
.box-loading {
  display: flex;
  align-items: center;
  height: 100vh;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #3d444938;
  border-top-color: #4bb0ee;
  border-radius: 50%;
  margin: 0 auto;
  padding: 50px;
  animation: bol 1s linear infinite;
  color: white;
}

@keyframes bol {
  to {
    transform: rotate(360deg);
  }
}
.btn {
  border: none;
  background-color: #4bb0ee;
  color: #e9f1f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
